@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --LIGHT-COLOR: whitesmoke;
    --DARK-BGCOLOR: rgb(22, 22, 22);
    --LIGHT-BGCOLOR: #FFE19C;
    --NARUTOMAKI-COLOR: #EA85AF;
    --EGG-COLOR: #E76F51;
}

html {
    font-size: 1.5rem;
    font-family: "Mulish", serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--DARK-BGCOLOR);
}

header, nav {
    display: flex;
}

header {
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem 2rem;
    background-color: var(--DARK-BGCOLOR);
    height: 60px;
    border-bottom: 2px solid var(--LIGHT-COLOR);
}

.logo {
    color: var(--LIGHT-BGCOLOR);
    font-weight: lighter;
}

.navbar {
    flex-flow: row nowrap;
    gap: 0.5rem;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-right: 30px;
}

a {
    text-decoration: none;
}

a:any-link {
    color: var(--LIGHT-COLOR);
}

a:any-link {
    color: var(--LIGHT-COLOR);
}

a:hover, a:focus {
    color: rgba(245, 245, 245, 0.559);
}

.ramen {
    font-weight: 900;
    font-size: 14rem;
    text-align: center;
    background-image: url(../img/noodles.jpg);
    background-size: 100%;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(0, 0, 0, 0.2);
    background-position: center;
}

h2 {
    font-family: "Mulish", serif;
    display: flex;
    flex-flow: column nowrap;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}

.about-short {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
    width: 100%;
    background-image: url(../img/bowl.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.about-short-section {
    display: flex;
    flex-flow: row nowrap;
    padding: 5rem;
    text-align: center;
    color: var(--LIGHT-COLOR);
    background-position-y: center;
    margin: 0 auto;
    position: relative;
}

.about-short::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

h1 {
    color: var(--LIGHT-COLOR);
    text-align: center;
    padding: 2rem;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: lighter;
}

.about {
    display: flex;
    flex-flow: row nowrap;
    color: white;
    width: 100%;
}

.about .about-section {
    display: flex;
    padding: 3rem;
    font-weight: 500;
    font-size: 1.3rem;
    align-items: center;
    text-align: center;
}

.why-article {
    display: flex;
    color: white;
    padding: 3rem;
    background-image: url(../img/japan.jpg);
    background-size: 100%;
    height: 30vh;
    flex-flow: row nowrap;
}

.why-article .why-p {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 auto;
    
}
